// Colours
$black: #263238;
$grey: #607d8b;
$red: #BD0926;

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

// Layout
html{
    font-family: "Open Sans", sans-serif !important;
}
p{
    font-size: 1.1rem;
    line-height: 1.8rem;
    strong{
        font-weight: 700;
    }
}
h3{
    small{
        font-size: 0.5em;
    }
}
.btn{
    background-color: $red !important;
}
a.collection-item{
    color: $red !important;
    &:hover{
        background-color: transparentize($grey, 0.95) !important;
    }
}
.collection-item{
}
.responsive-img{
    width: 100%;
}
.list{
    padding-left: 3rem;
    &.u-list li{
        list-style: disc;
        margin-bottom: 0.4rem;
    }
}
.panel{
    border: 1px solid $red;
    background-color: transparentize($red, 0.95);
    padding: 0 1rem;
}
.container{
}
.hero,
.claim-section{
    .responsive-img{
        width: 100%;
    }
}
.hero{
    padding: 0;
}
.nav-bar{
    .nav{
        background: transparentize(white, 0.1);
        .top-nav a{
            font-weight: 300;
            color: $grey;
            text-transform: capitalize;
            transition: background 0.4s;
            &:hover{
                background: $red;
                color: white;
                opacity: 0.9;
            }
            &.icon{
                text-indent: -99999px;
                background-color: none !important;
            }
            &.facebook{
                background: url(../images/icon-24-facebook.png) center no-repeat;
            }
        }
    }
    .brand-logo{
        padding-top: 0.7%;
        &:hover{
            opacity: 0.8;
        }
    }
}
.page-footer{
    margin-top: -1.7rem !important;
    a, p, small{
        color: $grey;
        font-size: 0.9rem;
    }
    small{
        font-size: 0.7rem;
    }
    .footer-nav{
        text-transform: capitalize;
        a{
            transition: color 0.4s;
            &:hover{
                color: transparentize(white, 0.3);
            }
        }
        a.facebook{
            display: none;
        }
    }
    .footer-copyright{
        a.facebook{
            text-indent: -99999px;
            background: url(../images/icon-24-facebook.png) center no-repeat;
            display: inline-block;
            width: 24px;
            height: 24px;
            opacity: 0.6;
            &:hover{
                transition: opacity 0.4s;
                opacity: 0.8;
            }
        }
    }
}
.claim{
    color: white;
    background: $black;
    padding: 1rem 0 2rem 0;
    margin-top: -0.4em;
}
.claim-section{
    .btn{
        margin-top: -27%;
        &:hover{
            background: darken($red, 5%) !important;
        }
    }
}

.news-section{
    padding: 4rem 0;
}
.secondary-page{
    margin-bottom: 8rem;

        h5{
            margin-top: 2rem;
        }
    .page-header{
        margin-top: 3rem;
    }
    .page-main{
        figure{
            width: 100%;
            margin-left: 0;
            padding: 0;
            height: 22rem;
            overflow: hidden;
        }
    }
    blockquote {
      border-left: 5px solid $red;
      margin-top: 0;
    }
    .aside-nav{
        position: fixed;
        width: 20%;
    }
    .collection-item.avatar.valign-wrapper {
      height: 65px;
    }
    .candidatos{
        .circle{
            border: 2px solid $red !important;
            color: $red !important;
            background: transparent !important;
            line-height: 2.5rem !important;
            font-style: normal !important;
        }
    }
}/* secondary-page */

.actualidad{
    article{
        margin-bottom: 6rem;
        figure{
            margin: 0;
            padding: 0;
            max-height: 280px;
        }
    }
    header{
        .title{
            font-weight: 700;
            line-height: 2.5rem;
        }
        img{
            border-top: 5px solid $red;
        }
        date{
            display: inline-block;
            background: $red;
            color: white;
            padding: 0.2rem 1rem;
        }
    }
}/* actualidad */


/* RESPONSIVE */
@media only screen and (min-width: 993px){
    .container {
        width: 90% !important;
    }
}
@media only screen and (max-width: 992px){
    .page-footer{
        a{
            border-bottom: 1px solid transparentize($grey, 0.3);
            display: inline-block;
            width: 100%;
            font-size: 1.6rem;
            padding: 0.45rem 0;
            &.first{
                border-top: 1px solid transparentize($grey, 0.3);
            }
        }
    }
}