<div class="navbar-fixed nav-bar">
  <nav class="nav">
    <div class="nav-wrapper container">
      <% link_to '/ganarlamuela', :class => "brand-logo" do %>
        <%= image_tag 'logo-ganar-la-muela-mini.png', :id =>"logo", :alt => "Ganar La Muela" %>
      <% end %>
      <ul id="top-nav" class="right hide-on-med-and-down top-nav">
        <%= partial "links" %>
      </ul>
    </div>
  </nav>
</div><!-- navbar -->