---
title: Ganar La Muela - Actualidad
---

<section class="secondary-page">
    <div class="container Actualidad">
        <div class="row">
            <div class="col s12 page-header">
                <h3>Actualidad</h3>
            </div>

            <main class="col l9 s12 page-main">
                <section class="articles">

                    <article>
                        <header>
                            <h4 class="title">Hoy jueves 7 de Mayo, a las 12:00h, iniciamos la campaña electoral</h4>
                            <date>6 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-photo-carteles.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>Por este motivo, podréis encontrarnos por el pueblo pegando carteles, como es de rigor. No nos mires y unete.</p>
                            <p><strong>La lucha por el cambio ha empezado.</strong></p>
                        </main>
                    </article><!-- article -->

                    <article>
                        <header>
                            <h4 class="title">Domingo 10, Primer Mitin-Asamblea</h4>
                            <date>5 de Mayo de 2015</date>
                            <figure>
                                <%= image_tag 'new-photo-plaza.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                            </figure>
                        </header>
                        <main>
                            <p>El <strong>domingo 10 a las 11 de la mañana</strong>, te esperamos ne la Plaza del Corazón de Jesús. Ahí podrás conocer, de primera mano, nuestras propuestas y la opinión de nuestros candidatos.</p>
                <p>Será un espacio <strong>abierto a la participación de todos</strong>.</p>
                        </main>
                    </article><!-- article -->

                </section>
            </main>

            <aside class="col l3 s12 page-aside">
                <blockquote>
                    <p><em>"En esta sección vas a poder encontrar las ultimas noticias, novedades y anuncios de Ganar La Muela"</em></p>
                </blockquote>
            </aside>
        </div>
    </div><!-- claim -->
</section>