---
title: Ganar La Muela - candidatura
---

<section class="secondary-page">
    <div class="container candidatura">
        <div class="row">

            <div class="col s12 page-header">
                <h3>Candidatura</h3>
            </div>

            <main class="page-main">
                <div class="col s12">
                    <figure>
                        <img  class="responsive-img" src="images/grupo-candidatos-2.jpg">
                    </figure>
                    <p><strong>Ganar La Muela es una candidatura ciudadana de gente corriente</strong>, de gente valiente cansada de ver circular su pueblo por los circuitos informativos de la mas exasperante corrupción. Cierto es que un día tuvimos políticos corruptos y arrastramos deudas de aquella infame gestión, nuestro pueblo es el ejemplo vivo de lo que pueden hacer unos malos políticos.</p>
                </div>

                <div class="col s12 l6 candidatos">
                    <h5>Candidatos</h5>
                    <ul class="collection">
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">1</i>
                            <h6 class"valign">ARTURO ESPADA RODA</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">2</i>
                            <h6 class"valign">JOSÉ ANTONIO URRESTI SANCHEZ</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">3</i>
                            <h6 class"valign">JUAN CATALÁN GOMEZ</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">4</i>
                            <h6 class"valign">MARÍA BEGOÑA JUSTES BLASCO</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">5</i>
                            <h6 class"valign">JUANA MARÍA RIOS BASOA</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">6</i>
                            <h6 class"valign">DAVID ROYUELA SANCHEZ</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">7</i>
                            <h6 class"valign">RAUL DELGADO ALONSO</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">8</i>
                            <h6 class"valign">JOSÉ MIGUEL COLAS MARÍN</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">9</i>
                            <h6 class"valign">ANA FOIX DIES</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">10</i>
                            <h6 class"valign">AMELIA SANTOS PINILLA</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">11</i>
                            <h6 class"valign">ROSA GIMENEZ ZAPATER</h6>
                        </li>
                    </ul>
                </div>

                <div class="col s12 l6 candidatos">
                    <h5>Suplentes</h5>
                    <ul class="collection">
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">1</i>
                            <h6 class"valign">JOSE VENDRELL CAMPOY</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">2</i>
                            <h6 class"valign">JOSÉ MIGUEL ABAD PERICH</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">3</i>
                            <h6 class"valign">FERNANDO JOSÉ VAL ANGUAS</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">4</i>
                            <h6 class"valign">MARIA LORENZA RODA AZNAR</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">5</i>
                            <h6 class"valign">MARÍA PILAR FRANCO BRAVO</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">6</i>
                            <h6 class"valign">ABEL BERNARDINO ROMERO</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">7</i>
                            <h6 class"valign">ÁNGELES CATALÁN GRACIA</h6>
                        </li>
                        <li class="collection-item valign-wrapper avatar">
                            <i class="circle">8</i>
                            <h6 class"valign">MARIA PILAR GÓMEZ IBAÑEZ</h6>
                        </li>
                    </ul>
                </div>

            </main>

        </div>
    </div><!-- claim -->
</section>


