---
title: Ganar La Muela - Inicio
---

<div class="hero">
    <img  class="responsive-img" src="images/grupo-candidatos.jpg">
</div><!-- hero -->

<div class="claim">
    <div class="container">
        <div class="center">
            <h5>Participación Ciudadana</h5>
            <h6>GANAR LA MUELA se compromete a la participación ciudadana y democracia en todas sus esferas y niveles de decisión.</h6>
        </div>
    </div>
</div><!-- claim -->

<div class="news-section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h3 class="center">Actualidad</h3>
            </div>
            <div class="col s12 l6">
                <%= image_tag 'new-photo-carteles.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Hoy jueves 7 de Mayo, a las 12:00h, iniciamos la campaña electoral</h5>
                <date>6 de Mayo de 2015</date>
                <p>Por este motivo, podréis encontrarnos por el pueblo pegando carteles, como es de rigor. No nos mires y unete.</p>
                <p><strong>La lucha por el cambio ha empezado.</strong></p>
            </div>
            <div class="col s12 l6">
                <%= image_tag 'new-photo-plaza.jpg', :class => "responsive-img", :title => "Plaza Corazón de Jesús de La Muela" %>
                <h5>Domingo 10, Primer Mitin-Asamblea</h5>
                <date>5 de Mayo de 2015</date>
                <p>El <strong>domingo 10 a las 11 de la mañana</strong>, te esperamos ne la Plaza del Corazón de Jesús. Ahí podrás conocer, de primera mano, nuestras propuestas y la opinión de nuestros candidatos.</p>
                <p>Será un espacio <strong>abierto a la participación de todos</strong>.</p>
            </div>
        </div>
    </div>
</div><!-- news -->

<div class="claim-section center">
    <img  class="responsive-img" src="images/claim-si-somos-mas.png">
    <div class="container">
        <div class="center">
            <%= link_to 'Participa para echarles', 'http://plaza.meteor.com/',
                :class => "waves-effect waves-light btn",
                :target => "_blank" %>
        </div>
    </div>
</div><!-- claim -->